
@import "Lato2OFLWeb/Lato/latofonts.css";
@import "https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=League+Script&family=Lora&display=swap');
@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
       url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: none;
}

@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css'); 


/*@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');*/


:root {
  --body-text-color: #1e1c22;
  --body-text-color: 62, 58, 55;
	--body-text-color-bluish: 22, 52, 74;
	--body-text-color-blueblack: 17, 39, 56;
	--body-text-color-blueblackblack: 6, 13, 19;
  /*--body-text-color: #444444;*/
  /*--body-text-color: red;*/
  --problem-row-badge-txt-color: #bfc3e1;		/* silver .  */
  /* --problem-row-badge-txt-color: red;		silver .  */
  /*--problem-row-badge-bg-color:  #000f89;		/* Tahiti Blue .  *!/*/
  /*--problem-head-txt-color:        var(--problem-row-badge-txt-color);*/
  /*--problem-head-bg-color:         var(--problem-row-badge-bg-color);*/
  /*--problem-head-badge-txt-color:  var(--problem-row-badge-bg-color);*/
  /*--problem-head-badge-bg-color:   var(--problem-row-badge-txt-color);*/
  /*--problem-row-answer-txt-color:  var(--problem-row-badge-bg-color);*/
  /*--problem-row-txt-color:         var(--problem-row-badge-bg-color);*/
  /*--output—prompt-txt-color: 255,   0,  38;*/
  --input—prompt-txt-color:  0,   0, 196;        
  --code-cell-bkg-color:  #f7f7ff;
  --code-cell-bkg-color:  250, 247, 245;
	--cerulean: 41, 75, 173;
  --tahitiblue: #000f89;		 
  --funkbrightyorange: 255, 64, 0;
  --coolassbrightblue: 0, 0, 196;
  --coolassbrightpurple: 70, 29, 255;    /*  #461dff  */
  --killerbrightred: 255, 0, 38;
	--bannerLRpadding: 0.5em;
	--subtlegold: 252, 248, 227;
	--royalpurple: 70, 29, 124;
	--neonblue: 91, 62, 246;
	--dash: green;
	--cell: 200px;
	--primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --info-hover: #117a8b;
  /*--warning: #ffc107;*/
  --warning: #f0ae4e;
	--warning-hover: #d39e00;
  --danger: #dc3545;
	--danger-hover: #bd2130;
  --light: #f8f9fa;
  --dark: #343a40;
	--tiger: #461dff;
	--mcs_that_bomb_ass_red: #ff2600;
	/*--mcs-color-tooltip-text: #ff0000;*/
	
	--mcs_gray_100: #f8f9fa;
	--mcs_gray_200: #e9ecef;
	--mcs_gray_300: #dee2e6;
	--mcs_gray_400: #ced4da;
	--mcs_gray_500: #adb5bd;
	--mcs_gray_600: #6c757d;
	--mcs_gray_700: #495057;
	--mcs_gray_800: #343a40;
	--mcs_gray_900: #212529;

}



/*═════ booty ═══════════════════════════════════════════════════════════════80════5═══*/





/*═════ counters ════════════════════════════════════════════════════════════80════5═══*/
body {
	counter-reset: toc_section 0 counter_cite 0 counter_ref 0;
}

/*════════════════════════════════════════════════════════════════════════ counters ═══*/



/*═════ booty ═══════════════════════════════════════════════════════════════80════5═══*/


/*═════ fnots and such ══════════════════════════════════════════════════════80════5═══*/
div#notebook-container.container {
	font-family: "LatoWeb";
	font-variant-numeric: oldstyle-nums; 
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  color: var(--coolassbrightblue);
}

/*div#notebook-container.container::before {
	content: "ttttt";
}*/

body {
	/*counter-reset: toc_section;*/
	font-family: "LatoWeb";
	font-variant-numeric: oldstyle-nums; 
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  /*color: var(--coolassbrightblue);*/
}

body {
    font-feature-settings: "onum" 1;
}
@supports (font-variant-numeric: oldstyle-nums) {
    body {
        font-feature-settings: normal;
        font-variant-numeric: oldstyle-nums;
    }
}


.text_cell_render.rendered_html {
	color: rgba(var(--body-text-color-blueblackblack));
	/*color: green;*/
}

.mcs-primary {
	color: var(--primary);
}

/*═════ special fonts ═══════════════════════════════════════════════════════80════5═══*/

.mcs-LatoWeb {
	font-family: LatoWeb!important;
	background: red!important;
}

span.cm-comment {
	font-family: "Victor Mono", monospace;
	/*font-style: italic;*/
	font-variant-ligatures: none;
}

#Attack {
	color: #1b0b3a;
	font-family: LatoWebBlack;
	font-size: 2.75em;
}

h1.heavy {
	/*border-bottom: 3px double var(--tiger);*/
	color: #230e7f;
	font-size: 3em;
}
	
h6#crazyindent {
	display: none;
}
h6#crazyindent + h2,
h6#crazyindent + h3 {
	margin-left: -0.6em;
	position: absolute;
	/*color: #0a0130;*/
}
h6#crazyindent + h2 + h2,
h6#crazyindent + h3 + h3 {
	visibility: hidden;
}



/*═════ top header ══════════════════════════════════════════════════════════80════5═══*/
header.banner {
  height: 3em;
}

div.banner {
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* height: 2.5em; */
}

div.banner img {
  /* height: 1.5em; */
}

.logos {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}

.logos > * {
  margin-right: 0em;
}


/*═════ index banner ════════════════════════════════════════════════════════80════5═══*/
header.index {
  /*height: 2em;*/
}

.index div.index {
  position: absolute;
	top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  /* height: 2.5em; */
}

.index div.index div {
  /*flex: 0;*/
  align-items: center;
  height: 100%;
}
  



/*═════ citations ═══════════════════════════════════════════════════════════80════5═══*/
.cite_textbook {
  font-family: "Cormorant Garamond", serif;
  font-variant-numeric: oldstyle-nums;
  /*font-style: italic;*/
  font-size: 90%;
  color: rgba(var(--royalpurple),1);
  background-color: rgba(var(--royalpurple),0.15);
  padding: 0.35em 0.35em 0.35em 1em;
}



div.cite_textbook.cb9 span::before {
  content: "\00a0 ⋮ Çengel, Y. A., Boles, M. A., & Kanoglu, M. (2019)";
	McGraw-Hill Education.";
}
div.cite_textbook.cb9 span::after {
	content: "Thermodynamics: An engineering approach, 9e. ";
	font-style: italic;
}
div.cite_textbook.cb9::after {
	content: "\00a0 McGraw-Hill Education.";
	/*font-style: normal;*/
}



div.cite_textbook.cb8 span::before {
  content: "\00a0⋮ Çengel, Y. A., Boles, M. A. (2015) ";
}
div.cite_textbook.cb8 span::after {
	content: "Thermodynamics: An engineering approach, 8e. ";
	font-style: italic;
}
div.cite_textbook.cb8::after {
	content: "\00a0 McGraw-Hill Education.";
	/*font-style: normal;*/
}




div.cite_textbook.cb7 span::before {
  content: "\00a0⋮ Çengel, Y. A., Boles, M. A. (2011) ";
}
div.cite_textbook.cb7 span::after {
	content: "Thermodynamics: An engineering approach, 7e. ";
	font-style: italic;
}
div.cite_textbook.cb7::after {
	content: "\00a0 McGraw-Hill Education, New York";
	/*font-style: normal;*/
}




div.cite_textbook.ms9 span::before {
  content: "⋮ Moran, et al (2018) ";
}
div.cite_textbook.ms9 span::after {
	content: "Fundamentals of Engineering Thermodynamics, 9e, ";
	font-style: italic;
}
div.cite_textbook.ms9::after {
	content: "\00a0 978-1-119-39138-8, John Wiley & Sons, Inc.";
	/*font-style: normal;*/
}



/*═════ toc ═════════════════════════════════════════════════════════════════80════5═══*/
section.toc.zero {
	counter-reset: toc_section -1;
}

section.toc {
	counter-increment: toc_section;
}

section.toc h2 {
	/*margin-left: -1em;*/
	/*float: left;*/
	color: #454545!important;	
}

section.toc h2::before {
	content: counter(toc_section, upper-greek)".\00a0";
}

section.toc > ol {
	counter-reset: list_items;
	/*padding-left: 0!important;*/
}

.toc a {
	text-decoration: none!important;
	color: rgb(var(--body-text-color));
}

.toc a:hover {
	text-decoration: underline!important;		
	color: rgb(var(--coolassbrightblue));
}

.toc li:hover {
	border-left: 0.5px solid #461dff;
	padding-left: 1em;
	margin-left: calc( -1em - 5px);
  border-left-width: 5px;
  border-radius: 6px;
}

.toc ol li::before {
	counter-increment: list_items;
	content: counter(toc_section, lower-greek)"."counter(list_items) "\00a0\00a0";
}

/*.toc ol li:first-of-type {
	margin-top: 3em;
}*/


.toc.mb-050em ol li {
	display: flex;
	margin-bottom: 0.5em;
}

.toc.mb-100em ol li {
	display: flex;
	margin-bottom: 1em;
}

.toc.mb-200em ol li {
	display: flex;
	margin-bottom: 2em;
}

.toc li p {
	flex: 4 0;
}

.toc ol li img {
	width: 20%;
	height: 100%;
	margin-top: 0;
	padding-left: 0.3em;
	/*flex: 0 1;*/
	/*float: right;*/
}


/*═════ tricks ══════════════════════════════════════════════════════════════80════5═══*/
div.tricks {
	height:1em;
}

div.tricks div.tricks {
	border: 1px solid rgba(var(--coolassbrightpurple),0.8); 
	/*margin-right: 2.5em;*/
	height: 0.5em; 
	width: 100%; 
	position: absolute; 
	right:0; 
	bottom:8%;
}


div.tricks span.tricks,
div.tricks div.tricks {
	border-color: #383838;
	color: #383838;
	font-weight: 100;
}


/*div.text_cell_render {
	background-color: red;
}*/


/*═════ footer ══════════════════════════════════════════════════════════════80════5═══*/
footer.psy {
}

footer.psy div.psy {
	position: absolute;
	width: 100%;
	right: 0;
	background-color: #461d7c; 
	color:rgba(253,208,35,0.35); 
	line-height:2em; 
	padding-left:1em; 
	padding-right:0.5em; 
	bottom:0; 
/*		float:bottom; */
	text-align:right;
	font-style: italic;
}


/*═════ figures ═════════════════════════════════════════════════════════════80════5═══*/
figure {
	counter-increment: figure_num;
	margin: 2%;
	font-size: smaller;
}
	
figcaption::before {
	content: "Figure "counter(figure_num)". ";
	font-weight: bolder;
}


/*═════ misc ════════════════════════════════════════════════════════════════80════5═══*/

/*crystal clear backgrounds*/

div.transcode pre * { 
	background-color: transparent;
}

.transcode code,
.transcode pre {
	background-color: rgba(255,255,255,0.45);
}


/* === callouts like those in bootstrap documentation*/

/* from Chris Pratt: https://cpratt.co/twitter-bootstrap-callout-css-styles/ */

.mcs-bs-callout {
    padding: 5px 20px 20px 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 6px;
}
.mcs-bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.mcs-bs-callout p:last-child {
    margin-bottom: 0;
}
.mcs-bs-callout code {
    border-radius: 3px;
}
.mcs-bs-callout+.mcs-bs-callout {
    margin-top: -5px;
}
.mcs-bs-callout-default {
    border-left-color: #777;
}
.mcs-bs-callout-default h4 {
    color: #777;
}


.mcs-bs-callout-primary {
    border-left-color: #428bca;
}
.mcs-bs-callout-primary h4 {
    color: #428bca;
}


.mcs-bs-callout-success {
    border-left-color: #5cb85c;
}
.mcs-bs-callout-success h4 {
    color: #5cb85c;
}


.mcs-bs-callout-danger { 
    /*border-left-color: #d9534f;*/
    border-left-color: #b72030;
    border-left-color: var(--danger);
}
.mcs-bs-callout-danger h4 {
    /*color: #d9534f;*/
    color: var(--danger);
}
.mcs-bs-callout-danger:hover { 
    /*border-left-color: #d9534f;*/
    border-left-color: var(--danger-hover);
}
.mcs-bs-callout-danger:hover h4 {
    /*color: #d9534f;*/
    color: var(--danger-hover);
}
.mcs-bs-callout-danger.extra { 
    border-color: var(--danger-hover);
    background: #f2dede;
}
.mcs-bs-callout-danger.extra h4 { 
    color: var(--danger-hover);
		/*font-variant: small-caps;*/
		font-family: LatoWebBlack;
		font-size: 125%;
}


.mcs-bs-callout-tiger { 
    border-left-color: var(--tiger);
}
.mcs-bs-callout-tiger h1.heavy {
		font-family: LatoWebHeavy;
    color: #230e7f;
		margin-bottom: 1em;
}
.mcs-bs-callout-tiger h4 {
    color: var(--tiger);
}


.mcs-bs-callout-warning {
    /*border-left-color: #f0ad4e;*/
    border-left-color: var(--warning);
}
.mcs-bs-callout-warning h4 {
    /*color: #f0ad4e;*/
    color: #f0ad4e;
		color: #8a6d3a;
		color: #f0ae4e;
		color:  var(--warning);
}
.mcs-bs-callout-warning.extra {
    border-color: #b56101;
    color: #8a6d3a;
		background: #fbf8e3;
}
.mcs-bs-callout-warning.extra h4 {
    color: #b56101;
		font-family: LatoWebBlack;
		font-size: 125%;
}
.mcs-bs-callout-warning.extra:hover {
    border-color: #ec971f;
}
.mcs-bs-callout-warning.extra:hover h4 {
    color: #ec971f;
		font-family: LatoWebBlack;
		font-size: 125%;
}


		
.mcs-bs-callout-info {
    /*border-left-color: #5bc0de;*/
    border-left-color: #17a2b8;
}
.mcs-bs-callout-info:hover {
    border-left-color: #117a8b;
}
.mcs-bs-callout-info h4 {
    /*color: #5bc0de;*/
		color: #17a2b8;
}
.mcs-bs-callout-info:hover h4 {
    /*color: #5bc0de;*/
		color: #117a8b;
}

/*
--mcs-fg-color-primary: #007bff;
--mcs-fg-color-hover-primary: #0062cc;
--mcs-fg-color-info: #17a2b8;
--mcs-fg-color-hover-info: #117a8b;
--mcs-fg-color-warning: #ffc107;
--mcs-fg-color-hover-warning: #d39e00;
--mcs-fg-color-danger: #dc3545;
--mcs-fg-color-hover-danger: #c82333;
*/


/*═════ mcs style ═══════════════════════════════════════════════════════════80════5═══*/

.mcs-mb-1em {
	margin-bottom: 1em;
}

.mcs-mb-2em {
	margin-bottom: 2em;
}


/*═════ misc ════════════════════════════════════════════════════════════════80════5═══*/

/*crystal clear backgrounds*/

div.transcode pre * { 
	background-color: transparent;
}

.transcode code,
.transcode pre {
	background-color: rgba(255,255,255,0.45);
}


div.mcs-tiger pre * { 
	background-color: transparent;
	/*font-size: 0.9em;*/
}
div.mcs-tiger,
div.mcs-tiger pre,
div.mcs-tiger code {
	background-color: var(--mcs_gray_100);
	background-color: #f5f3f9;
	border-radius: 3px;
}
div.mcs-tiger {
	border: 1px solid #d4d2f1;
}

/*body {background-color:white;padding:50px 50px}*/

div.mcs-numberLines {
	margin: 1.5em 0;
	font-size: 85%;
	line-height: 1.3em;
}

.mcs-numberLines pre {
  /*background-color: #eee;*/
  overflow: auto;
  margin:0 0 1em;
  /*padding:.5em 1em;*/
  padding:.5em 0;
}

.mcs-numberLines pre code,
.mcs-numberLines pre .line-number {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  /*font:normal normal 12px/14px "Courier New",Courier,Monospace;*/
  /*font:inherit;*/
	/*font-size: 0.85em;*/
  /*color:black;*/
  display:block;
	/*line-height: 1.3;*/
}

.mcs-numberLines pre .line-number {
  float:left;
  margin:0 1em 0 -1em;
  border-right:1px solid;
  text-align:right;
  color: #d4d2f1;
}

.mcs-numberLines pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

.mcs-numberLines pre .cl {
  display:block;
  clear:both;
}
/*.mcs-numberLines pre code {
  border-top:1px solid;
  border-bottom:1px solid;
	background-color: #f5f3f9;
}*/


/*═════ misc ════════════════════════════════════════════════════════════════80════5═══*/
/*═════ footnotes ═══════════════════════════════════════════════════════════80════5═══*/

/*cite {
	color:red;
	border: 1px dashed blue;
}*/
cite[id^="msc-c:"] span {
	/*color:green;*/
	/*border: 1px dotted red;*/
	/*display: none;*/
	color: #fffdf2;
	border-radius: 6px;
	padding: 1em;
	visibility: hidden;
	position: absolute;
	opacity: 0;
	max-width: 50vh;
	max-height: 80vh;
	
	margin-left: -15vw;
	margin-right: 5vw;
	overflow-y: scroll;
	/*margin-right: 10vh;*/
	background: rgba(18, 7, 64, 0.85);
	transition: opacity 1s ease-in-out, visibility 1s ease-out;
	-webkit-transition: opacity 1s ease-in-out, visibility 1s ease-out;
	-moz-transition: opacity 1s ease-in-out, visibility 1s ease-out;
	-o-transition: opacity 1s ease-in-out, visibility 1s ease-out;
/*	-c-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;*/
	/*transition-timing-function: ease-in-out;*/
	/*transition-delay: 1s;*/
}
cite[id^="msc-c:"] span u {
	font-weight: bold;
	font-style: italic;
}
cite[id^="msc-c:"] span u::after {
	content: '\00000a';
	white-space: pre;
}
cite[id^="msc-c:"]:hover span {
	/*display: block;*/
	visibility: visible;
	opacity: 1;
}
cite[id^="msc-c:"] {
	/*position: relative;*/
}

cite[id^="msc-c:"]::before {
	font-variant-position: super;
	counter-increment: counter_cite;
	color: var(--tiger);
	content: counter(counter_cite);
}
.mcs-skynote div {
	position: absolute;
	top: 0;
	right: 0;
	top: 0;	
	color: rgb(var(--funkbrightyorange));	
	font-style: italic;
}
.mcs-skynote div:hover {
	color: blue;	
	/*font-style: italic;*/
}
.mcs-skynote div:hover ~ p cite[id^="msc-c:"] span {
	/*display: block;*/
	/*color: red;*/
	/*content:  'igigygiygi';*/
	visibility: visible;
	opacity: 1;
}